<div class="c-wrapper">
  <div class="center-div">
    
    <!-- Flash Notice Tags -->
    <% if notice %>
      <div id="notice" class="animated fadeOut alert alert-success" role="alert"><%= notice %><%= alert %></div>
    <% end %>    
    <% if alert %>
      <div id="alert" class="animated fadeOut alert alert-danger" role="alert"><%= notice %><%= alert %></div>
    <% end %>     

    <h1>Users</h1>

    <table>
      <thead>
        <tr>
          <th cellpadding="5px">First name</th>
          <th cellpadding="5px">Last name</th>
          <th cellpadding="5px">Email</th>
          <th  cellpadding="5px" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td cellpadding="5px"><%= user.first_name %></td>
            <td cellpadding="5px"><%= user.last_name %></td>
            <td cellpadding="5px"><%= user.email %></td>
            <td cellpadding="5px"><%= link_to 'Show', user, class:"form-control btn btn-primary", role:"button" %></td>
            <td cellpadding="5px"><%= link_to 'Edit', edit_user_path(user), class:"form-control btn btn-warning", role:"button" %></td>
            <td cellpadding="5px"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"form-control btn btn-danger", role:"button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New User', new_user_path %>
  </div>
</div>