<div class="product-reviews">
  <% @comments.each do |comment| %>
    <hr>
    <div class="container">
      <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
      <p><%= "Rating: #{comment.rating}/5" %></p>
      <p><%= comment.body %></p>
    	<p class="rated" data-score="<%= comment.rating %>"></p>        
    </div>
  <% end %>
  <hr>
</div>

