<% if (@comments.total_entries > @comments.per_page) %>
  <hr>
  <%= will_paginate @comments, class:"flickr_pagination" %>  
<% end %>  
<div class="product-reviews">
  <% @comments.each do |comment| %>
    <hr>
    <div class="container">
      <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
      <p><%= "Rating: #{comment.rating}/5" %></p>
      <p><%= comment.body %></p>
    	<p class="rated" data-score="<%= comment.rating %>"></p>        
    </div>
  <% end %>
  <% if (@comments.total_entries > @comments.per_page) %>
    <hr>
    <%= will_paginate @comments, class:"flickr_pagination" %><br>
    <div class="center"><small><em>(<%= @comments.total_entries.to_s + " comments..." %>)</small></em></div>
  <% end %>
  <hr>
</div>

