      <%= link_to product do %>
        <div class="card">
          <div class="wrap">
            <!-- image_tag(product.image_url, class: "card-img-top") -->
            <%# asset_exists is a helper method available from assets_helper.rb %>
            <% if asset_exists? "#{product.image_url}" %>
              <%= image_tag("#{product.image_url}", class: "card-img-top") %>
            <% else %>
              <%# noimg.jpg is used in case the product.image_url becomes invalid... %>
              <%= image_tag("noimg.jpg", class: "card-img-top") %>
            <% end %>            
          </div>
          <%
=begin
          This is a test comment block...
=end
          %>
          <% logger.debug "Product: #{product.name}"%>
          <div class="card-block">
            <div id="CardTitle_Share">
              <h4 class="card-title"><%= product.name %></h4>
            </div>
            <p class="card-text"><%= product.description %></p>
          </div>
          <div class="card-footer">
            <strong><%= number_to_euro("#{product.price}") %></strong>
          </div>
        </div>
        <!--end card-->
      <% end %>