<div class="c-wrapper">
	<div class="center-div">
  
    <!-- Flash Notice Tags -->
    <% if notice %>
      <div id="notice" class="animated fadeOut alert alert-success" role="alert"><%= notice %><%= alert %></div>
    <% end %>    
    <% if alert %>
      <div id="alert" class="animated fadeOut alert alert-danger" role="alert"><%= notice %><%= alert %></div>
    <% end %>		

		<h1>Editing Product</h1>
		<%= render 'form', product: @product %>
		<%= link_to 'Show', @product %> |
		<!-- link_to 'Back', products_path -->
		<%= link_to 'Back', request.referer %>
		<!-- link_to 'Back', request.referer.present? ? request.referer : default_path -->
	
	</div>
</div>