<div class="c-wrapper">
	<div class="center-div">
		<div class="container" id="showProduct">
		
		<div class="col-sm-6 col-md-8">
		  <%= image_tag(@product.image_url, class: "thumbnail productimage img-responsive") %>
			
			<p>
			<h2>
			  	<%= @product.name %>
			</h2>
			</p>
			
			<strong>Description:</strong>
			<p>		  
				<%= @product.description %>
			</p>
			
			<strong>Colour:</strong>
			<p>
			  <%= @product.colour %>
			</p>
			
			<strong>Price:</strong>
			<p>		  
				<%= @product.price %>
			</p>
			
			<strong>Top Review:</strong>
			<p>
			<% if (@product.highest_rating_comment) %>
				<%= @product.highest_rating_comment.body %>
			<% end %>
			</p>

			<div class="actions">
				<!-- link_to 'Edit', edit_product_path(@product) > | -->
				<%= link_to 'Back', products_path, class:"btn btn-warning" %>
			</div>
		</p>
	</div>
		</div>
	</div>
</div>