<div class="c-wrapper">
	<div class="center-div">
		<div class="container" style="width: 400px;">
			<h1>Viewing Product</h1>
			<p id="notice"><%= notice %></p>
			<p>
				<!-- <div class="field"> -->
				  <strong>Name:</strong>
				  <%= @product.name %>
				<!-- </div> -->
			</p>
			<p>
				<!-- <div class="field"> -->
				  <strong>Description:</strong>
				  <%= @product.description %>
				<!-- </div> -->
			</p>
			<p>
				<!-- <div class="field"> -->
				  <strong>Image url:</strong>
				  <%= @product.image_url %>
				<!-- </div> -->
			</p>
			<p>
				<!-- <div class="field"> -->
				  <strong>Colour:</strong>
				  <%= @product.colour %>
				<!-- </div> -->
			</p>
			<div class="actions">
				<%= link_to 'Edit', edit_product_path(@product) %> |
				<%= link_to 'Back', products_path %>
			</div>
		</div>
	</div>
</div>