<div class="c-wrapper">
	<div class="center-div">
		<div class="container-fluid" id="showProduct">
			<div class="col-sm-6 col-md-8">
		  	<!-- image_tag(@product.image_url, class: "thumbnail img-responsive") -->
        <% if asset_exists? "#{@product.image_url}" %>
          <%= image_tag("#{@product.image_url}", class: "thumbnail img-responsive") %>
        <% else %>
          <%= image_tag("noimg.jpg", class: "thumbnail img-responsive") %>
        <% end %>            
				<p>
					<h2>
					  	<%= @product.name %>
					</h2>
				</p>
				
				<strong>Description:</strong>
				<p>		  
					<%= @product.description %>
				</p>
				
				<strong>Colour:</strong>
				<p>
				  <%= @product.colour %>
				</p>
				
				<strong>Price:</strong>
				<p>		  
					<%= number_to_euro("#{@product.price}") %>
				</p>
				
				<p>Average Rating: <span class="rated" data-score="<%= @product.average_rating %>"></span> </p>

				<% if signed_in? %>
					<%= form_with(url: '/payments/create') do |form| %>
						<%= hidden_field_tag(:product_id, "#{@product.id}") %>
					  <%= render partial: "shared/stripe_checkout_button" %>
					<% end %>
				<% else %>					
					<%= link_to "Log in to purchase", new_user_session_path, class:"btn btn-warning" %>
				<% end %>

				<%= render 'new_comment' %>

				<%= render 'comments' %><br>

				<div class="actions">
					<%= link_to 'Back', products_path, class:"btn btn-warning" %>
					<% if signed_in? && current_user.admin? %>
						<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-danger" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>